*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
}

body{
    font-family: sans-serif;
    font-size: 16px;
    width: 100%;
    height: 100vh;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.outer-circle{
    width: 19.6vw;
    height: 19.6vw;
    border-radius: 50%;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.animation-bg{
    background: linear-gradient(-45deg, #ee7752,orange,#e73c7e,#23a6d5,#23d5ab);
    background-size: 400% 400%;
    animation: gradient 7s ease infinite;
}

@keyframes gradient{
    0%{
        background-position: 0% 50%;
    }
    50%{
        background-position: 100% 50%;
    }
    100%{
        background-position: 0% 50%;
    }
}
.inner-circle{
    width: 18.2vw;
    height: 18.2vw;
    border-radius: 50%;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
}

.text{
    color: white;
    font-size: 1.9vw;
}
.minute{
    font-size: 3.7vw;
}
.sec{
    font-size:3.1vw;
}
.msec{
    font-size:2.1vw;
}
.button-wrapper{
    width: 19.2vw;
    margin-top:2.7vw;
    display: flex;
    justify-content: space-between;
}
.button{
    width: 3.9vw;
    height: 3.9vw;
    border-radius: 50%;
    border:2px solid white;
    background-color: black;
    color: white;
    cursor: pointer;
}

.button:hover{
    background-color: white;
    color: black;
}
.laps{
    list-style: none;
    color: white;
    width: 19.3vw;
    height: 19.4vw;
    overflow: auto;
    position: relative;
    margin-top: 30px;
}
.laps::-webkit-scrollbar{
    display: none;
}
.lap-item{
    display: inline-block;
    /* width: 19.3vw; */
    width: 100%;
    padding: 10px;
    padding: 1.2vw;
    /* background-color: red; */
    text-align: center;
    border: 1px solid #444;
    border-radius: 50px;
    margin-bottom: 15px;
}

.number{
    color:#cccccc ;
}

.time-stamp{
    display: inline-block;
    margin-left: 2vw;
}

.lap-clear-button{
    display: block;
    position: fixed;
    z-index: 1000;
    bottom: 35px;
    left: 50%;
    transform: translate(-50%);
    width: 130px;
    padding: 10px 0;
    border-radius: 50px;
    background-color: rgba(255,255,255,0.9);
    border: 1px solid white;
    cursor: pointer;
}

.hidden{
    visibility: hidden;
}
